USER_URL=http://auth-service:8081
BOOKING_URL=http://booking-service:8082
CATALOG_URL=http://catalog-service:8083
NOTIFICATIONS_AUDIT_URL=http://notifications-audit-service:8084

JWT_SECRET=my-secret-key
